<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>AissStart.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReadMe</display-name>
    <servlet-name>ReadMe</servlet-name>
    <servlet-class>aiss.ReadMe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadMe</servlet-name>
    <url-pattern>/ReadMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Twitter</display-name>
    <servlet-name>Twitter</servlet-name>
    <servlet-class>aiss.Twitter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Twitter</servlet-name>
    <url-pattern>/Twitter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleMaps</display-name>
    <servlet-name>GoogleMaps</servlet-name>
    <servlet-class>aiss.GoogleMaps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleMaps</servlet-name>
    <url-pattern>/GoogleMaps</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>WeatherController</servlet-name>
      <servlet-class>aiss.controller1.WeatherController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>WeatherController</servlet-name>
      <url-pattern>/WeatherController</url-pattern>
  </servlet-mapping>
   <servlet>
      <servlet-name>LocationController</servlet-name>
      <servlet-class>aiss.controller1.LocationController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LocationController</servlet-name>
      <url-pattern>/LocationController</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GetStartedController</servlet-name>
      <servlet-class>aiss.controller1.GetStartedController</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetStartedController</servlet-name>
      <url-pattern>/GetStartedController</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>GoogleDriveFileListController</servlet-name>
        <servlet-class>aiss.controller1.GoogleDriveFileListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleDriveFileListController</servlet-name>
        <url-pattern>/googleDriveFileList</url-pattern>
    </servlet-mapping>
    <!-- Google Drive files - delete -->
    <servlet>
        <servlet-name>GoogleDriveFileDeleteController</servlet-name>
        <servlet-class>aiss.controller1.GoogleDriveFileDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleDriveFileDeleteController</servlet-name>
        <url-pattern>/googleDriveFileDelete</url-pattern>
    </servlet-mapping>
    <!-- Google Drive files - update -->
    <servlet>
        <servlet-name>GoogleDriveFileUpdateController</servlet-name>
        <servlet-class>aiss.controller1.GoogleDriveFileUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleDriveFileUpdateController</servlet-name>
        <url-pattern>/googleDriveFileUpdate</url-pattern>
    </servlet-mapping>
    <!-- Google Drive files - create -->
    <servlet>
        <servlet-name>GoogleDriveFileNewController</servlet-name>
        <servlet-class>aiss.controller1.GoogleDriveFileNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleDriveFileNewController</servlet-name>
        <url-pattern>/googleDriveFileNew</url-pattern>
    </servlet-mapping>
     <!--   GoogleDrive oAuth2 servlets    -->
    <!-- GoogleDriveAuthController-->
    <servlet>
        <description/>
        <servlet-name>GoogleDriveAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>GoogleDrive</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleDriveAuthController</servlet-name>
        <url-pattern>/AuthController/GoogleDrive</url-pattern>
    </servlet-mapping>
    <!--GoogleDriveOAuth2Callback-->
    <servlet>
        <description/>
        <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>GoogleDrive</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/googleDriveFileList</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleDriveOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/GoogleDrive</url-pattern> 
    </servlet-mapping>
  </web-app>
  